
~$XMLDealGenerator-Accounts.xlsm
~$Example Data v5 - BASE DATA v1 TIMESERIES3.xlsx
~$XMLDealGenerator-Accounts v2.xlsm
~$XMLGenerator.xlsm
~$Example Data v5 - BASE DATA v1.xlsx
~$Example Data v5 - BASE DATA v1 TIMESERIES4.xlsx
~$XMLDealGenerator-Accounts v4 working TEMP.xlsm
~$XMLDealGenerator-Accounts v4 working.xlsm
~$Copy of Example Data v4 RH (Autosaved).xlsx
~$XMLDealGenerator-Accounts v5 working.xlsm
.DS_Store
Prospects/HodgeBank/Deals/~$XMLDealGenerator-Accounts v5 working hodge.xlsm
Prospects/HodgeBank/Data/~$Example Data v5 - BASE DATA v1 TIMESERIES6 add synthetc.xlsx
Prospects/HodgeBank/Presentations/~$eurobase KnowCo Introduction.pptx
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
._siena limit breach email LIMIT BREAK OVERRIDE USED - DEAL REF 000244.png
Prospects/FX Company/~$System Spec.xlsx
.*.*
